@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: grey;
    width: 434px;
    font-family: 'Tiro Gurmukhi', serif;
    height: 100vh;
}

.sidebar {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow;*/
    width: 90vw;

}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: skyblue;*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Spline Sans Mono', monospace;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 65px;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Tiro Gurmukhi', serif;
}

.about {
    font-size: 40px;
}

.moreabout {
    font-size: 22px;
    margin: 23px;
    font-family: 'Tiro Gurmukhi', serif;
}

.buttons {
    margin-top: 34px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 5px 7px;
    margin: 7px 0;
}

.btn:hover {
    background-color: beige;
    color: dodgerblue;
}

.devpic img {
    width: 381px;
    height: 58vh;

}

.contactform {
    font-family: 'Tiro Gurmukhi', serif;
    padding-top: 344px;
}

.contactform h1 {
    font-family: 'Spline Sans Mono', monospace;
    text-align: center;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}

.contactform form div {
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

#emailHelp {
    font-size: 10px;
    color: midnightblue;
    margin: 05px;
}